@import 'vars';

:host {
    display: block;
    margin-bottom: 16px;
    position: relative;
    background: #d3d3d333;
    border-radius: 20px;
    padding: 16px;
}

.date-container {
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
}

.date {
    position: sticky;
    top: 8px;
    display: inline-block;
    background: white;
    padding: 8px 12px;
    border-radius: 20px;
}

.pillar {
    width: 2px;
    height: calc(100% + 16px);
    background-color: $pillar-color;
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    
    &.is-first-group {
        height: calc(100% - 16px);
        top: 32px;
    }

    &.is-last-group {
        height: calc(100% - 32px);
    }

    &.is-only-group {
        display: none;
    }

}

