<div class="container" [class.open]="open$ | async">
    <div (click)='toggle()' class="hamburger-icon-container">
        <et-hamburger-icon [showX]="open$ | async"></et-hamburger-icon>
    </div>
    <div class="content">
        <et-toolbar-item link='/accounts' text='Accounts' icon='wallet' [iconContainerWidth]='closedWidth'></et-toolbar-item>
        <et-toolbar-item link='/login' text='Login' icon='user' [iconContainerWidth]='closedWidth'></et-toolbar-item>
        <et-toolbar-item link='/timepoints' text='Timepoints' icon='calendar-alt' [iconContainerWidth]='closedWidth'></et-toolbar-item>
        <et-toolbar-item link='/help' text='Help' icon='question' [iconContainerWidth]='closedWidth'></et-toolbar-item>
    </div>
</div>
