:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    margin: 16px;
}

month-picker {
    margin-bottom: 16px;
}

.money-movement-groups-container {
    flex: 1;
    overflow: auto;
}