<month-picker (intervalChanged)='onIntervalChange($event)'></month-picker>

<loader *ngIf="loading"></loader>

<div class="money-movement-groups-container">
    <ng-container *ngFor="let movementGroup of moneyMovementGroups | keyvalue; first as isFirst, last as isLast">
        <money-movement-group [moneyMovements]="movementGroup.value.moneyMovements" [timestamp]="movementGroup.key"
            [isFirst]="isFirst" [isLast]="isLast" [isOnly]="hasOnlyOneGroup"></money-movement-group>
    </ng-container>
</div>