<month-picker (intervalChanged)="onIntervalChange($event)"></month-picker>

<loader *ngIf="isLoading"></loader>

<ng-container *ngIf="isResolved">
  <div class="money-movement-groups-container">
    <ng-container
      *ngFor="
        let movementGroup of state.item | keyvalue;
        first as isFirst;
        last as isLast
      "
    >
      <money-movement-group
        [moneyMovements]="movementGroup.value.moneyMovements"
        [currency]="currency"
        [timestamp]="movementGroup.key"
        [isFirst]="isFirst"
        [isLast]="isLast"
        [isOnly]="hasOnlyOneGroup(state.item)"
      >
      </money-movement-group>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="isResolvedNotFound">
  <div class="money-movement-groups-container">
    No money movements found for this period
  </div>
</ng-container>

<ng-container *ngIf="isRejected">
  <div class="money-movement-groups-container">There has been an error</div>
</ng-container>

<div class="btns">
    <div class="flex-divider"></div>
    <balance-tile [accountId]="accountId" [currency]="currency"></balance-tile>
    <button class="btn primary" (click)="addMovement()">Add</button>
</div>
