<month-picker (intervalChanged)="onIntervalChange($event)"></month-picker>

<loader *ngIf="isLoading"></loader>

<div #moneyMovementsGroupContainer class="money-movement-groups-container">
  <ng-container *ngIf="isResolved">
    <ng-container
      *ngFor="
        let movementGroup of state.item | keyvalue;
        first as isFirst;
        last as isLast
      "
    >
      <money-movement-group
        [moneyMovements]="movementGroup.value.moneyMovements"
        [currency]="currency"
        [timestamp]="movementGroup.key"
        [isFirst]="isFirst"
        [isLast]="isLast"
        [isOnly]="hasOnlyOneGroup(state.item)"
      >
      </money-movement-group>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="isResolvedNotFound">
    <div class="not-found-message-container">
      No money movements found for this period
    </div>
  </ng-container>

  <ng-container *ngIf="isRejected">
    <div class="error-message-container">There has been an error</div>
  </ng-container>
</div>

<div class="btns">
  <daily-budget-tile [currency]="currency"></daily-budget-tile>
  <div class="flex-divider"></div>
  <balance-tile [accountId]="accountId" [currency]="currency"></balance-tile>
  <button class="btn primary" (click)="addMovement()">Add</button>
</div>
