:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

loader {
  height: 100%;
}

month-picker {
    padding: 16px;
}

.money-movement-groups-container {
    flex: 1;
    overflow: auto;
    padding: 0 16px;
}

.not-found-message-container,
.error-message-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  padding: 16px;
}
