<div class="dialog-header">
    {{ getMode() }} category
</div>
<div class="dialog-body">
    <form [formGroup]='form'>
      <mat-form-field class="single-line">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName='name'>
        </mat-form-field>
        <et-icon-picker [icon]="sign" (iconSelected)="sign = $event"></et-icon-picker>
    </form>
</div>
<div class="dialog-footer">
    <div class="btns" *ngIf="!deleteConfirmationPromptVisible">
        <button class="btn neutral" *ngIf="deleteButtonVisible" (click)="showDeleteConfirmationPrompt()">Delete</button>
        <div class="flex-divider"></div>
        <button class="btn neutral" (click)="remove(false)">Close</button>
        <button class="btn primary" (click)="submit()" [disabled]="form.invalid">Submit</button>
    </div>
    <div class="btns" *ngIf="deleteConfirmationPromptVisible">
        <span class="delete-confirmation-prompt-text">
            Are you sure you want to delete this?
        </span>
        <div class="flex-divider"></div>
        <button class="btn neutral" (click)="hideDeleteConfirmationPrompt()">No</button>
        <button class="btn primary" (click)="submitDelete()">Yes</button>
    </div>
</div>
