@import 'vars';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.accounts-container {
  flex: 1;
  overflow: auto;
  padding: 0 16px;
}

.account-row {
  display: flex;
  align-items: center;
  overflow: visible;
}

.account-row:not(:last-of-type) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $weak-link;
}

.btns {
  padding: 16px;
}

.edit-btn-container {
  padding: 16px 0;
}
