<loader *ngIf="loading"></loader>

<div *ngIf="!loading" class="accounts-container">
  <ng-container *ngIf="accounts">
    <ng-container *ngFor="let account of accounts">
      <div class="account-row" [routerLink]="[account.id, account.currency]">
        <span class="big-text">{{ account.name }}</span>
        <div class="flex-divider"></div>
        <div class="btns edit-btn-container">
          <button class="btn primary" (click)="openTimepoints(account, $event)"><fa-icon icon="calendar-alt"></fa-icon></button>
          <button class="btn primary" (click)="editAccount(account, $event)">Edit</button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class="btns summary">
  <div class="flex-divider"></div>
  <button class="btn primary" (click)="addAccount()">Add</button>
</div>
