@import 'vars';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.categories-header {
  padding: 22px 0;
  margin: 0 16px;
  border-bottom: 1px solid $primary;
}

.categories-container {
  flex: 1;
  overflow: auto;
  padding: 0 16px;
}

.category-row {
  display: flex;
  align-items: center;
  overflow: visible;
}

.category-row:not(:last-of-type) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $weak-link;
}

.btns {
  padding: 16px;
}

.edit-btn-container {
  padding: 16px 0;
}
