:host {
    display: block;
    height: 100%;
}

.header {
    height: 40px;
    background-color: gray;
    padding: 16px;
}

.main {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.summary {
    padding: 16px;
}