:host {
    display: block;
    height: 100%;
}

.header {
    height: 40px;
    background-color: gray;
    padding: 16px;
}

.main {
    height: calc(100% - 40px - 64px);
}

.summary {
    padding: 16px;
}