:host {
    display: flex;
    height: 100%;
}

.main {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    :host {
        flex-direction: column;
        height: calc(100% - 40px);
    }
}

.summary {
    padding: 16px;
}