mat-form-field.single-line {
    display: block;
}

.amount-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-form-field.amount-whole-part {
    width: 165px;
}

mat-form-field.amount-decimal-part {
    width: 50px;
}

loader {
  height: 63px;
  transform: scale(0.60);
}

.delete-confirmation-prompt-text {
    padding: 8px;
}
