<div class="timepoints-header big-text">Timepoints</div>

<div class="description medium-text">Your daily budget will be calculated based on the count of days between today and the next closest timepoint</div>

<div class="timepoint-picker-container">
    <div class="medium-text">Timepoints</div>

    <div class="timepoint-picker">
        <div class="timepoint-option"
            *ngFor="let number of timepointOptions"
            [class.selected]="isSelected(number)"
            (click)="toggle(number)"
        >{{ number }}</div>
    </div>
</div>
