@import 'vars';

$closedSize: 40px;
$openWidth: 200px;
$hamburgerIconWidth: 24px;
$hamburgerIconMargin: calc(#{$closedSize - $hamburgerIconWidth}/2);

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    position: relative;
    width: $closedSize;
    background-color: $primary;
    color: $primaryContrast;
    font-size: 2rem;
    transition: width ease-out 0.2s;
}

.container.open {
    width: $openWidth;
}

.hamburger-icon-container {
    width: $closedSize;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

.content {
    width: $openWidth;
    background-color: $primary;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: $closedSize;
    }

    .container.open {
        width: 100%;
        height: unset;
    }

    .content {
        position: absolute;
        top: $closedSize;
        width: 100%;
        z-index: 1;
        height: 0;
        transition: height ease-out 0.1s;
        overflow: hidden;
    }

    .container.open .content {
        height: calc(100vh - #{$closedSize});
    }

}
